<!-- “Child Template” -->
{% extends "base.html" %}

{% block title %} 
    "View File"
{% endblock %}

{% block head %} 
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/file.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <!-- <div class="page-align1"> -->
        <div class="body-container-wrapper1">
	        <!-- <div class="body-container"> -->
            
            {% for para in my_data %}
            <div class="div-block">
                <input type="button" class="collapsible" id="collapse-{{ loop.index }}" onClick="collapse_elem(this.id)" value="-">
                <!-- <input type="submit" class="button-para" id="button-{{ loop.index }}" onClick="reply_click(this.id)" value="{{ para | safe }}" style="white-space: normal;">  -->
                <span class="button-para" id="button-{{ loop.index }}" onClick="reply_click(this.id)">{{ para | safe }}</span>
            </div><br>
            {% endfor %}
            <!-- </div>  -->
        </div>
    <!-- </div>     -->
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/file.js') }}"></script> 
{% endblock %}