.collapsible{
  /* background-color: #777; */
  background: none;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  float: left;
  border: none;
  text-align: center!important;
  width: 2%;
  padding: 0;
  margin:0;
  /* vertical-align: top; */
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible::after {
  content: '\002B';
  color: #fff; 
  font-weight: bold;
  float: right;
}

.button-para{
  white-space: normal;
  margin: 0em 0.5em 1em 0em; 
  /* top right bottom left */
  font-size: 0.9em;
  line-height: 1.2em;
  width: 97%;
  text-align: justify;
  float: right;
  max-height: none;
}

.body-container-wrapper1 {
  height: calc(100vh - 170px);
}

.page-align1{
  padding: 0;
  background-color: #ccc;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  /* padding: 20px 20px; */
  /* text-align: center; */
  cursor: default!important;
  font-weight: normal;
  font-family: Open Sans;
}

.active:after {
  content: "\2212"; /* - sign */
}


.div-block {
  overflow: auto;
  float: left;
  padding: 10px 30px 5px 0px; /* top right bottom left */
}