/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */
@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  transform: translateX(0%);
  height: 100%;
  width: 100%;
  transition: transform 0.2s linear;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
}
/* body.file-process-open {
  transform: translateX(-30%);
  transition: transform 0.2s linear;
} */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 40px;
  line-height: 1.2;
}

.header-container .page-center,
.body-container .page-center,
.footer-container .page-center {
  max-width: 3000px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.button i {
    margin-right: 8px;
}
.header-container-wrapper {
  flex: 0 0 auto;
}
.body-container-wrapper {
  flex: 1 0 auto;
}
.footer-container-wrapper {
  flex: 0 0 auto;
}
.body-container-wrapper .page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 170px);
}
.body-container i.fa.fa-cloud {
    font-size: 100px;
    color: #2196f3;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.48);
}
.custom-header-bg {
    background: #2196F3;
    padding: 20px 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 12px #000;
}
.custom-footer-bg {
  background: #2196f3;
  padding: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 12px #000;
}
.logo {
  width: 30%;
  float: left;
  font-size: 24px;
  color: #ffffff;
  font-weight: 100;
  cursor: default !important;
  margin-top: 4px;
}

.navigation {
  float: right;
  width: 70%;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: right;
}

.navigation ul li {
  display: inline-block;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #555;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.button:hover {
  color: #6e6e6e;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.button:active {
  color: #555;
  background-color: #f6f9ff;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.upload {
  /*padding: 0;*/
  background-color: #3498db;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 20px 20px;
  color: #fff;
  text-align: center;
  cursor: default!important;
  font-weight: normal;
  font-family: Open Sans;
  font-size: 15px;
  font-size: 1.5vw;
}


input[type=submit]{
  font-size: large;
  text-align: center;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
}

h1 {
  font-variant: small-caps;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  }

.up {
  font-size: 100px;
  background: inherit;
}

.upload:hover {
  background-color: #4aa3df;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#5faee3 0%, #3498db 100%);
  background-image: -moz-linear-gradient(#5faee3 0%, #3498db 100%);
  background-image: -o-linear-gradient(#5faee3 0%, #3498db 100%);
  background-image: linear-gradient(#5faee3 0%, #3498db 100%);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
}

.upload--loading {
  background-color: #258cd1 !important;
  background-image: 8121991 !important;
  background-image: -webkit-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
  background-image: -moz-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
  background-image: -o-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
  background-image: linear-gradient(#258cd1 0%, #258cd1 100%) !important;
  position: relative;
  cursor: wait;
}

.upload--loading:before {
  margin: -13px 0 0 -13px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  -webkit-border-radius: 24px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 24px;
  -moz-background-clip: padding;
  border-radius: 24px;
  background-clip: padding-box;
  border: rgba(255, 255, 255, 0.25) 2px solid;
  border-top-color: #ffffff;
  -webkit-animation: animation-rotate 750ms linear infinite;
  -moz-animation: animation-rotate 750ms linear infinite;
  -o-animation: animation-rotate 750ms linear infinite;
  animation: animation-rotate 750ms linear infinite;
}

.upload-hidden {
  visibility: hidden;
}
.upload {
    position: relative;
    overflow: hidden;
}
.upload:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.upload:hover:after {
  opacity: 1;
  top: -30%;
  left: 100%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.upload:active:after {
  opacity: 0;
}
.overall {
    position: relative;
}
.overall:before {
    content: "";
    border-top: 2px solid #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 12px;
}
.copy-link b {
    background: #2196f3;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 80px !important;
    cursor: default!important;
    color: #fff;
}
.copy-link b:active {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
@media (max-width:700px) {
  .custom-header-bg {
    text-align: center;
  }
  .logo {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .navigation ul{
    float:none;
    text-align:center;
  }
  .navigation ul li + li {
    margin-top: 10px;
  }
  .navigation {
    float: none;
    width: 100%;
  }
}

.icon {
  color: #95afc0;
  opacity: 0.80;
}

/* .icons.hero { 	
  position:relative;
  transform:rotate(45deg);
  display: inline-block;
 -webkit-transform: rotate(45deg); 
 -moz-transform: rotate(45deg); 
 -ms-transform:rotate(45deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
}
.icons.hero:after,
.icons.hero:after {
  z-index: -1;
  position: absolute;
  top: 98.1%;
  left: 70%;
  margin-left: -25%;
  content: '';
  width: 0;
  height: 0;
  border-bottom: solid 50px #e15915;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.icons.hero{
  transform:rotate(45deg);
  display: inline-block;
}  */

.fileElem{
  display: None;
}

.file-upload-filename{
  line-height:20px;
  display:inline-block;
  padding:0 10px;
  color:#3fa46a;
}

/* div#loading{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.7;
  text-align: center;
  cursor: wait;
  position: absolute;
}

.loading-image{
  position: relative;
  top: 5px;
  width: 30%;
  height: 30%;
  opacity: 0.7;
} */