.collapsible{
  /* background-color: #777; */
  margin: 0em 0em 1em 0em; 
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center!important;
  width: 2%;
  padding: 0;
  margin:0;
}

.blinking{
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

body{
  background-color: #d3d3d3;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible::after {
  content: '\002B';
  color: #fff; 
  font-weight: bold;
  float: right;
}

.button-para{
  white-space: normal;
  margin: 0em 0.5em 1em 0em; 
  /* top right bottom left */
  font-size: 0.9em;
  line-height: 1.2em;
  width: 97%;
  text-align: justify;
  float: right;
  max-height: none;
}

.page-align1{
  padding: 0;
  background-color: #d3d3d3;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  cursor: default!important;
  font-weight: normal;
  font-family: Open Sans;
}

.active:after {
  content: "\2212"; /* - sign */
}

.div-block {
  overflow: auto;
  /* float: left; */
  padding: 0px 80px 0px 60px; /* top right bottom left */
}

span{
  /* margin: 5px; */
  margin: 2px 5px 2px 5px;
  /* padding: 5px; */
  padding: 0px 5px 2px 5px;
  display: inline-block;
}

.custom-footer-bg1 {
  /* background: #2196f3; */
  padding: 0px;
  text-align: center;
  /* color: #fff; */
  /* box-shadow: 0 0 12px #000; */
}

/* .buttons{
  width: 170px; 
  display: inline-block;
} */
/* 
form{
  display: inline;
} */

/* .left-button{
  float: left; 
  margin: 30px 0px 20px 100px;
}

.right-button{
  float: right; 
  margin: 30px 40px 20px 0px;
} */